/* Estilos para o componente de Estatísticas */
.stats-container {
    background-color: #f4f4f4; /* Cor de fundo */
    border: 1px solid #ddd; /* Borda */
    border-radius: 4px; /* Cantos arredondados */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Margem externa */
  }
  
  .stats-header {
    margin-bottom: 10px; /* Espaçamento abaixo do cabeçalho */
    padding-bottom: 10px; /* Espaçamento abaixo do texto */
    border-bottom: 1px solid #ccc; /* Linha abaixo do texto */
    font-size: 1.5em; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
  }
  
  .stats-list {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno */
    margin: 0; /* Remove a margem externa */
  }
  
  .stats-list li {
    background-color: #fff; /* Cor de fundo para os itens */
    border: 1px solid #eee; /* Borda para os itens */
    padding: 10px; /* Espaçamento interno para os itens */
    margin-bottom: 5px; /* Espaçamento entre os itens */
    border-radius: 4px; /* Cantos arredondados para os itens */
    display: flex; /* Habilita o display flex para alinhar os itens internamente */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaça os itens internamente */
    font-size: 0.9em; /* Tamanho da fonte para os itens */
  }
  
  .stats-list li:last-child {
    margin-bottom: 0; /* Remove a margem do último item */
  }
  
  /* Você pode adicionar mais estilos específicos conforme necessário */

  .stats-container {
    font-family: Arial, sans-serif;
}

.final-score {
    text-align: center;
    margin-bottom: 20px;
}

.score-board {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.team-score {
    margin: 0 10px;
}

.sets-results table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.sets-results th,
.sets-results td {
    border: 1px solid #ddd;
    padding: 8px;
}

.sets-results th {
    background-color: #f2f2f2;
}

/* Adicione mais estilos conforme necessário */
.clear-button {
  background: #ff6b6b; /* Vermelho para ação de limpeza */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.clear-button:hover {
  background: #ff8787; /* Um vermelho mais claro para o hover */
}
